  @media (min-width: 769px) {
    header{
        padding: 20px 10%;
    }
  .fullscreen-menu {
    position: relative;
    height: auto;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end; /* albo center */
    align-items: center;
    opacity: 1;
    pointer-events: all;
    gap: 20px;
  }

  .fullscreen-menu a {
    font-size: 18px; /* mniejsze niż fullscreen */
  }

  .hamburger {
    display: none; /* hamburger tylko na mobile */
  }
}

  .fullscreen-menu a:hover {
    color: #00e0f0;
  }

  @media (max-width: 768px) {
    .main-box {
        transform: translateY(-14vh);}


    nav ul {
      display: none;
    }

    .hamburger {
      display: flex;
    }

    .main-box>.text>p{
    font-size: 5vw;
    }
    .main-box>.text>h1{
        font-size: 9vw;
        letter-spacing: 5px;
        font-family: "Black Ops One", system-ui;
        color: #00e0f0;
        font-weight: 400;
    }
    .main-box>.text>h2{
        font-size: 6vw;
    }

    #kierunki{
        background-color: transparent;
        font-size: 15px;
        border: 1px solid #00e0f0;
        outline: none;
        color: #00e0f0;
        padding: 10px 30px;
        cursor: pointer;
        margin-top: 20px;
    }   
  }


@media (max-width: 768px) {

.top>p{
    font-size: 20px;
    margin-bottom: 10px;
}
.top>h2{
    font-size: 35px;
    font-family: "Black Ops One", system-ui;
    color: #00e0f0;
    font-weight: 400;
}

.kierunki{
  position: relative;
  width: 100%;
  height: 160vh;
  transform: translateY(-2vh);
  overflow: hidden;
  padding: 5% 10%;
  color: #fff;
}

.kierunki-box{
    width: 100%;
    margin-top: 50px;
    position: relative;
}
.kierunki-box>div{
    overflow: hidden;
    box-sizing: border-box;
    background-color: #030303;
    position: relative;
    width: 100%;
    padding: 20px;
    height: 60vh;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #ffffff;
}
.kierunki-box>div>img{
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.kierunki-box>div>*{
    z-index: 2;
    position: relative;
    color: #ffffff;
}
.kierunki-box>div::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000079;
}
.kierunki-box>div>h2{
    font-size: 25px;
    position: absolute;
    bottom: 140px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}
.kierunki-box>div>p{
    position: absolute;
    bottom: 100px;
    font-size: 12px;
}
.wojskowa_klasa{
    background-image: url('grafika/wojskowa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mundurowa_klasa{
    background-image: url('grafika/mundurowa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.kierunki-box>div>a{
    color: #000000;
    background-color: #00e1ff;
    padding: 8px 16px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
}


.nauka>.nauka-top{
    width: 100%;
    display: block;
}

.nauka>.nauka-top>.left{
    width: 100%;
}

.nauka-top>.left>p{
    font-size: 14px;
    margin-bottom: 10px;
    margin: 6px 0;
}
.nauka-top>.left>h2{
    font-size: 25px;
    margin: 6px 0;
    font-family: "Black Ops One", system-ui;
    color: #00e0f0;
    font-weight: 400;
}

.nauka-top>.left>h3{
    font-size: 17px;
    margin: 6px 0;
}

.right>a{
    display: inline-block;
    background-color: transparent;
    font-size: 14px;
    border: 2px solid #00e0f0;
    outline: none;
    color: #00e0f0;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  font-size: 70px;
  padding: 15px 15px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: -5px;
  transform: translateY(80px);
}

.arrow.right {
  right: -5px;
  transform: translateY(80px);
}


}