  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: rgb(10,10,10);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    color: #fff;
    position: relative;
    z-index: 10;
  }

  header img {
    height: 80px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #00e0f0;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    z-index: 10;
    gap: 5px;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    z-index: 10;
    background-color: #fff;
    transition: all 0.3s;
  }

  /* Fullscreen menu */
  .fullscreen-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8,8,8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 5;
  }

  .fullscreen-menu.active {
    opacity: 1;
    pointer-events: all;
  }

  .fullscreen-menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
  }


.main-box {
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translateY(-13vh);
  overflow: hidden;
  padding: 10%;
  color: #fff;
}

/* Video jako tło */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7); /* czarny z 50% przezroczystością */
  z-index: 1;
}

/* Tekst na wierzchu */
.text {
  position: relative;
  z-index: 1;
  width: 100%;
  transform: translateY(15%);
  height: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: flex-start;      
  text-align: left;       
  gap: 10px;            
  z-index: 2;    
}
.main-box>.text>p{
    font-size: 2vw;
}
.main-box>.text>h1{
    font-size: 6vw;
    letter-spacing: 10px;
    font-family: "Black Ops One", system-ui;
    color: #00e0f0;
    font-weight: 400;
}
.main-box>.text>h2{
    font-size: 2vw;
}

#kierunki{
    background-color: transparent;
    font-size: 22px;
    border: 2px solid #00e0f0;
    outline: none;
    color: #00e0f0;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
}

.nauka{
    position: relative;
    width: 100%;
    transform: translateY(-1vh);
    overflow: hidden;
    padding: 5% 10%;
    color: #fff;
}
.nauka>.nauka-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nauka>.nauka-top>.left{
    width: 60%;
}

.nauka-top>.left>p{
    font-size: 20px;
    margin-bottom: 10px;
    margin: 6px 0;
}
.nauka-top>.left>h2{
    font-size: 45px;
    margin: 6px 0;
    font-family: "Black Ops One", system-ui;
    color: #00e0f0;
    font-weight: 400;
}

.nauka-top>.left>h3{
    font-size: 22px;
    margin: 6px 0;
}

.right>a{
    background-color: transparent;
    font-size: 22px;
    border: 2px solid #00e0f0;
    outline: none;
    color: #00e0f0;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}



.sprzet{
    position: relative;
    width: 100%;
    transform: translateY(-2vh);
    margin-top: 50px;
    overflow: hidden;
    padding: 5% 10%;
    color: #fff;
}


.kierunki{
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translateY(-5vh);
  overflow: hidden;
  padding: 2% 10%;
  color: #fff;
}

.top>h3{
  font-size: 25px;
}
.top>p{
    font-size: 25px;
    margin-bottom: 10px;
}
.top>h2{
    font-size: 45px;
    font-family: "Black Ops One", system-ui;
    color: #00e0f0;
    font-weight: 400;
}


.kierunki-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 80%;
    position: relative;
}
.kierunki-box>div{
    overflow: hidden;
    box-sizing: border-box;
    background-color: #030303;
    position: relative;
    width: 48%;
    padding: 20px;
    height: 100%;
    border: 2px solid #ffffff;
}
.kierunki-box>div>img{
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.kierunki-box>div>*{
    z-index: 2;
    position: relative;
    color: #ffffff;
}
.kierunki-box>div::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000079;
}
.kierunki-box>div>h2{
    font-size: 60px;
    position: absolute;
    bottom: 120px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}
.kierunki-box>div>p{
    position: absolute;
    bottom: 100px;
}
.wojskowa_klasa{
    background-image: url('grafika/wojskowa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.mundurowa_klasa{
    background-image: url('grafika/mundurowa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.kierunki-box>div>a{
    color: #000000;
    font-size: 20px;
    background-color: #00e1ff;
    padding: 8px 16px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
}


.nauka-btm {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap; /* żeby się łamały */
}

.nauka-btm > div {
  flex: 1 1 calc(25% - 20px); /* 4 równe boxy */
  background: #111;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 30vh;

  display: flex;
  flex-direction: column;   /* ustawia img i h3 jeden pod drugim */
  justify-content: center;  /* wyśrodkowanie pionowe */
  align-items: center;      /* wyśrodkowanie poziome */
  gap: 10px;                /* odstęp między obrazkiem a tekstem */
}

.nauka-btm > div img {
  max-width: 200px;
  height: auto;
  margin-bottom: 30px;
}

/* Tablety */
@media (max-width: 1024px) {
  .nauka-btm > div {
    flex: 1 1 calc(50% - 20px); /* 2 w rzędzie */
  }
}

/* Telefony */
@media (max-width: 768px) {
  .nauka-btm {
    flex-direction: column;
    align-items: center;
  }

  .nauka-btm > div {
    flex: 1 1 100%;
    width: 100%;
  }

  .drony{
    position: relative;
    width: 100%;
    transform: translateY(-2vh);
    margin-top: 50px;
    overflow: hidden;
    padding: 5% 10%;
    background-color: #050505;
    color: #fff;
    display: block;
}

.left-drony{
  width: 100%;
}

.left-drony>h2{
    font-size: 40px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}

}



.photos {
  position: relative;
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}

.photos-track {
  display: flex;
  transition: transform 0.5s ease;
}

.photos img {
  flex: 0 0 auto;
  width: 500px;      /* szerokość pojedynczego zdjęcia */
  height: 400px;     /* wysokość */
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
}

/* Strzałki */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  font-size: 70px;
  padding: 15px 15px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 50px;
  transform: translateY(20px);
}

.arrow.right {
  right: 50px;
  transform: translateY(20px);
}

.drony{
    position: relative;
    width: 100%;
    transform: translateY(-2vh);
    margin-top: 50px;
    overflow: hidden;
    padding: 5% 10%;
    background-color: #050505;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-drony{
  width: 50%;
  margin-right: 25px;
}

.left-drony>h2{
    font-size: 60px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}

.drony-filmik{
  text-align: right;
}


.drony-filmik>video{
  max-width: 80%;
  margin-top: 50px;
  transform: translateX(0vw);
}

.about-us {
  position: relative;
  width: 100%;
  height: auto;
  transform: translateY(-3vh);
  overflow: hidden;
  padding: 25px 10% 50px 10%;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url('grafika/tlo_mun.png'); /* Twoje zdjęcie */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.about-us::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* czarny 50% */
  z-index: 1;
}

/* tekst nad overlay */
.about-us > * {
  position: relative;
  z-index: 2;
}


.about-us>.text{
  width: 50%;
  transform: translateY(20px);
}

.about-us>.text>h2{
    font-size: 60px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}


.about-list {
  list-style: decimal-leading-zero; /* 01, 02, 03... */
  padding-left: 20px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
  color: #f5f5f5;
}

.about-list li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
}

.about-list li::marker {
  color: #00e0f0; /* kolor numerków */
  font-weight: bold;
  font-size: 20px;
}

.about-list ul {
  list-style: disc;
  padding-left: 25px;
  margin-top: 8px;
}

.about-list ul li {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 5px;
}

.walki{
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.walki-text{
  width: 50%;
}
.walki-text>h3{
  color: #fff;
}
.walki-text>h2{
      font-size: 50px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}
.walki-text>p{
   color: #fff;
}
.walki-text>button{
  display: block;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid #00e0f0;
  color: #00e0f0;
  font-size:18px;
  padding: 7px 14px;
  cursor: pointer;
}
.walki-in{
  width: 45%;
  height: 500px;
  text-align: center;
  padding: 50px;
  background-image: url(grafika/walki4.png);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all .4s ease;
  color: white;
  /* border-radius: 50%; */
}
.walki-in:hover{
  transform: scale(1.1);
}
.walki-in::after{
  content: '';
  width: 100%;
  position: absolute;
  height: 1px;
  left: 0;
  background-color: #00e0f0;
  bottom: -25px;
}


@media (max-width: 768px) {
  .nauka-btm {
    flex-direction: column;
    align-items: center;
  }

  .nauka-btm > div {
    flex: 1 1 100%;
    width: 100%;
  }

  .drony{
    position: relative;
    width: 100%;
    transform: translateY(-2vh);
    margin-top: 50px;
    overflow: hidden;
    padding: 10% 10%;
    background-color: #050505;
    color: #fff;
    text-align: center;
    display: block;
}

.left-drony{
  width: 100%;
}

.left-drony>h2{
    font-size: 40px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}

.drony-filmik{
  text-align: center;
}
.walki{
  width: 100%;
  padding: 20px 10%;
  display: block;
}
.walki-text{
  width: 100%;
  margin-bottom: 50px;
}

.walki-in{
  width: auto;
  height: 300px;
  background-size: cover;
}



.drony-filmik>video{
  width: 100%;
  transform: translateX(0);
  margin-top: 50px;
}

.about-us {
  text-align: center;
  height: auto;
  background-position:60%;
  padding: 5px 10% 30px 10%;
}

.about-us>.text{
  width: 100%;
  transform: translateY(20px);
}

.about-us>.text>h2{
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}

}

.social-media{
  position: relative;
  width: 100%;
  transform: translateY(-3vh);
  overflow: hidden;
  padding: 5% 10%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vid-info{
  padding-top: 20px;
}

.media-ic{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px; 
  padding: 10px 0;
}

.text-media{
  margin-bottom: 20px;
}

.text-media>h2{
    font-size: 60px;
    color: #00e0f0;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}

.media-ic{
  margin-top: 50px;
}

.media-ic a {
  display: inline-block;
  width: 20%;
}

.media-ic a img {
  width: 100%;
  object-fit: contain; /* lub cover, jeśli chcesz przyciąć */
  transition: transform 0.3s ease;
}

.media-ic a:hover img {
  transform: scale(1.1); /* Efekt po najechaniu */
}
footer>div>p>i{
  margin-right: 10px;
}

footer#footer {
  border-top: 1px solid #ffffff9d;
  color: #f5f5f5;
  margin: 0 10%;
  padding: 5% 0%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Sekcje wewnątrz footera */
#footer > div {
  flex: 1 1 250px;
  min-width: 220px;
}

/* Nagłówki */
#footer h4 {
  font-size: 20px;
  margin: 25px 0;
  color: #00e1ff;
  font-weight: 600;
  position: relative;
}

#footer h4 .arr {
  margin-right: 6px;
}

/* Paragrafy */
#footer p {
  font-size: 16px;
  margin: 15px 0px;
  line-height: 1.4;
  color: #ddd;
}

/* Linki */
#footer a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s;
}

#footer a:hover {
  color: #00e1ff;
}

/* Ikony mediów */
.media-footer div {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}

.media-footer img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1); /* białe ikony */
  transition: transform 0.3s, filter 0.3s;
}

.media-footer a:hover img {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(68%) sepia(86%) saturate(2800%) hue-rotate(148deg) brightness(101%) contrast(101%);
}

/* Responsywność */
@media (max-width: 900px) {
  footer#footer {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer > div {
    width: 100%;
  }
  .media-footer div {
    justify-content: flex-start;
  }

  .social-media{
  position: relative;
  width: 100%;
  transform: translateY(0vh);
  overflow: hidden;
  padding: 10% 10%;
  color: #fff;
  display: block;
}

.vid-info>iframe{
 width: 100%;
}

.media-ic{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px; 
  padding: 10px 0;
}

}


.media-abs{
  height: 30%;
  position: absolute;
  right: 10%;
  top: 45%;
  width: 30px;
  z-index: 5;
}

.media-abs>a{
  width: 100%;
  display: block;
  margin: 20px 0px;
}
.media-abs>a>img{
  width: 100%;
}

.wspolpraca{
  width: 100%;
  padding: 5% 10%;
  position: relative;
  text-align: center;
}
.wspolpraca>h2::before{
  content: '';
  background-color: #fff;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  color: #fff;
  position: absolute;
}
.wspolpraca>h2{
    font-size: 40px;
    position: relative;
    color: #00e0f0;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}

.wspolpraca>p{
    font-size: 18px;
    color: #fff;
}
.wspolpraca>img{
  margin-top: 20px;
  width: 100%;
}


@media (max-width: 900px){
  .media-abs{
 display: none;
}

.wspolpraca{
  padding: 5% 5%;
}
}


.section {
    opacity: 0;
    transition: all 0.8s ease-out;
}

/* Kierunki wejścia */
.section-right {
    transform: translateX(100px);
}
.section-left {
    transform: translateX(-100px);
}
.section-bottom {
    transform: translateY(100px);
}
.section-top {
    transform: translateY(-100px);
}

/* Widoczna */
.section.visible {
    transform: translateX(0) translateY(0);
    opacity: 1;
}


#scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #00e1ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 20px;
    border: 2px solid #000000;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}

#scrollToTop.show {
    opacity: 1;
    visibility: visible;
}


.wirtualny{
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wirtualny>div{
  width: 45%;
}
.wirtualny>div>video{
  width: 50%;
}
.wirtualny>div>h2{
   font-size: 60px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: #00e0f0;
}
.wirtualny>div>h3{
  color: #fff;
}
.wirtualny>div>p{
  color: #f5f5f5;
}


@media (max-width: 900px){
.wirtualny{
  padding: 5%;
  display: block;
}

.wirtualny>div{
  width: 100%;
}
}